.Weather {
  border: 1px solid #949494;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  margin: 10px auto;
}

form {
  margin-bottom: 20px;
}

h1 {
  color: #949494;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.icon,
canvas {
  margin-top: 5px;
  display: inline;
  vertical-align: top;
}

.degreeSection,
.numberSection {
  display: inline-block;
}

.temp {
  margin-left: 10px;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}

.unit {
  vertical-align: top;
}
